<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>URL Purifier - Success</title>
    <link rel="icon" type="image/x-icon" href="/static/logo.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100" style="background-color: #000000">

<div class="container-fluid p-3" style="background-color: #EAEAEA">
    <nav class="navbar navbar-light bg-light shadow rounded border border-2 border-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">URL Purifier</a>
        </div>
    </nav>
</div>

<div class="container-fluid d-flex">
    <div class="container align-items-center justify-content-center">
        <h3 class="text-center mb-5 mt-5 text-light">Success!</h3>
        <ul class="list-group border border-2 border-dark shadow text-center">
            <li class="list-group-item"><b>Original URL:</b> {{ data.original_url }}</li>
            <li class="list-group-item"><b>Shortened URL:</b> <a target="_blank"
                    href="https://url-purifier.vercel.app/{{ data.shortened_url }}">https://url-purifier.vercel.app/{{
                data.shortened_url }}</a></li>
            <li class="list-group-item"><img src="data:image/png;base64,{{ data.qr_code }}"/></li>
        </ul>
    </div>
</div>

<div class="container-fluid p-3 mt-auto" style="background-color: #EAEAEA">
    <footer class="p-3 rounded shadow bg-light border border-2 border-dark">
        URL Purifier &#169; 2023
    </footer>
</div>
</body>
</html>